<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="arraysort.project.board.app.board.mapper.BoardMapper">

    <!-- 게시판 세부내용 조회 -->
    <select id="selectBoardDetailById" parameterType="long" resultType="arraysort.project.board.app.board.domain.BoardVO">
        select board_id,
               board_name,
               board_type,
               board_order,
               image_flag,
               image_limit,
               notice_count,
               comment_flag,
               access_level,
               activate_flag,
               created_by,
               updated_by,
               created_at,
               updated_at,
               delete_flag
        from board
        where board_id = #{boardId} and delete_flag = 'N'
    </select>

    <!-- 게시판 전체 조회 -->
    <select id="selectAllBoards" resultType="arraysort.project.board.app.board.domain.BoardVO">
        select board_id,
               board_name,
               board_type,
               board_order,
               image_flag,
               image_limit,
               notice_count,
               comment_flag,
               access_level,
               activate_flag,
               created_by,
               updated_by,
               created_at,
               updated_at,
               delete_flag
        from board
        where delete_flag = 'N'
        order by board_order
    </select>

    <!-- 총 게시판 개수 조회 -->
    <select id="selectTotalBoardCount" resultType="int">
        select count(*)
        from board
        where delete_flag = 'N'
    </select>

    <!-- 관리자 : 게시판 추가 -->
    <insert id="insertBoard" parameterType="arraysort.project.board.app.board.domain.BoardVO" useGeneratedKeys="true" keyProperty="boardId">
        insert into board(board_name,
                          board_type,
                          board_order,
                          image_flag,
                          image_limit,
                          notice_count,
                          comment_flag,
                          access_level,
                          created_by,
                          updated_by)
        values (#{boardName},
                #{boardType},
                #{boardOrder},
                #{imageFlag},
                #{imageLimit},
                #{noticeCount},
                #{commentFlag},
                #{accessLevel},
                #{createdBy},
                #{updatedBy})

    </insert>

    <!-- 관리자 : 게시판 리스트 조회 -->
    <select id="selectBoardListWithPaging" parameterType="arraysort.project.board.app.common.page.PageDTO" resultType="arraysort.project.board.app.board.domain.BoardVO">
        select board_id,
               board_name,
               board_type,
               board_order,
               image_flag,
               image_limit,
               notice_count,
               comment_flag,
               access_level,
               activate_flag,
               created_by,
               updated_by,
               created_at,
               updated_at,
               delete_flag
        from board
        where delete_flag = 'N'
        order by board_order desc
        limit #{pageRowCount} offset #{offset}
    </select>

    <!-- 관리자 : 게시판 존재 여부 조회-->
    <select id="selectIsExistBoardName" parameterType="String" resultType="boolean">
        select exists(
            select 1
            from board
            where board_name = #{boardName} and delete_flag = 'N'
        )
    </select>

    <!-- 관리자 : 게시판 수정 -->
    <update id="updateBoard">
        update board
        set board_name = #{vo.boardName},
            board_type = #{vo.boardType},
            board_order = #{vo.boardOrder},
            image_flag = #{vo.imageFlag},
            image_limit = #{vo.imageLimit},
            notice_count = #{vo.noticeCount},
            comment_flag = #{vo.commentFlag},
            access_level = #{vo.accessLevel}
        where board_id = #{boardId}
    </update>

    <!-- 게시판 존재 여부 조회 -->
    <select id="selectIsExistBoard" parameterType="long" resultType="boolean">
        select exists(
            select 1
            from board
            where board_id = #{boardId} and delete_flag = 'N'
        )
    </select>

    <!-- 게시판 순서 조회 -->
    <select id="selectBoardOrder" parameterType="long">
        select board_order
        from board
        where board_id = #{boardId} and delete_flag = 'N'
    </select>

    <!-- 게시판 순서 변경(앞) -->
    <update id="shiftBoardOrderForward">
        update board
        set board_order = board_order + 1
        where board_order >= #{newOrder} and board_order &lt; ${currentOrder} and board_id != #{boardId}
    </update>

    <!-- 게시판 순서 변경(뒤) -->
    <update id="shiftBoardOrderBackward">
        update board
        set board_order = board_order - 1
        WHERE board_order &lt;= #{newOrder} and board.board_order > ${currentOrder} and board_id != #{boardId}
    </update>
</mapper>
