<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="arraysort.project.board.app.like.mapper.CommentLikeMapper">

    <!-- 댓글 좋아요 추가 -->
    <insert id="insertCommentLike">
        insert into comment_like(user_id, comment_id)
        values (#{userId}, #{commentId})
    </insert>

    <!-- 댓글 좋아요 개수 조회 -->
    <select id="selectCommentLikeCount" parameterType="long" resultType="long">
        select count(*)
        from comment_like
        where comment_id = #{commentId}
    </select>

    <!-- 댓글 좋아요 여부 조회(유저 ID) -->
    <select id="selectCommentLikeCountByUserId" resultType="boolean">
        select count(*) > 0
        from comment_like
        where user_id = #{userId} and comment_id = #{commentId}
    </select>

    <!-- 댓글 좋아요 삭제 -->
    <delete id="deleteCommentLike">
        delete
        from comment_like
        where user_id = #{userId} and comment_id = #{commentId}
    </delete>

    <!-- 댓글 싫어요 추가 -->
    <insert id="insertCommentDislike">
        insert into comment_dislike(user_id, comment_id)
        values (#{userId}, #{commentId})
    </insert>

    <!-- 댓글 싫어요 개수 조회 -->
    <select id="selectCommentDislikeCount" parameterType="long" resultType="long">
        select count(*)
        from comment_dislike
        where comment_id = #{commentId}
    </select>

    <!-- 댓글 싫어요 여부 조회(유저 ID) -->
    <select id="selectCommentDislikeCountByUserId" resultType="boolean">
        select count(*) > 0
        from comment_dislike
        where user_id = #{userId} and comment_id = #{commentId}
    </select>

    <!-- 댓글 좋아요 삭제 -->
    <delete id="deleteCommentDislike">
        delete
        from comment_dislike
        where user_id = #{userId} and comment_id = #{commentId}
    </delete>

</mapper>
