<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="arraysort.project.board.app.like.mapper.CommentLikeMapper">

    <!-- 댓글 좋아요 추가 -->
    <insert id="insertCommentLike" parameterType="arraysort.project.board.app.like.domain.CommentLikeVO">
        insert into comment_like(user_id, comment_id)
        values (#{userId}, #{commentId})
    </insert>

    <!-- 게시글 좋아요 리스트 조회 -->
    <select id="selectCommentLikeList" parameterType="long" resultType="arraysort.project.board.app.like.domain.CommentLikeVO">
        select user_id, comment_id
        from comment_like
        where comment_id = #{commentId}
    </select>

    <!-- 댓글 좋아요 여부 조회(유저 ID) -->
    <select id="selectCommentLikeCountByUserId" parameterType="arraysort.project.board.app.like.domain.CommentLikeVO" resultType="boolean">
        select exists(
            select 1
            from comment_like
            where user_id = #{userId} and comment_id = #{commentId}
        )
    </select>

    <!-- 댓글 좋아요 삭제 -->
    <delete id="deleteCommentLike" parameterType="arraysort.project.board.app.like.domain.CommentLikeVO">
        delete
        from comment_like
        where user_id = #{userId} and comment_id = #{commentId}
    </delete>

    <!-- 댓글 싫어요 추가 -->
    <insert id="insertCommentDislike" parameterType="arraysort.project.board.app.like.domain.CommentDisLikeVO">
        insert into comment_dislike(user_id, comment_id)
        values (#{userId}, #{commentId})
    </insert>

    <!-- 게시글 좋아요 리스트 조회 -->
    <select id="selectCommentDislikeList" parameterType="long" resultType="arraysort.project.board.app.like.domain.CommentDisLikeVO">
        select user_id, comment_id
        from comment_dislike
        where comment_id = #{commentId}
    </select>

    <!-- 댓글 싫어요 여부 조회(유저 ID) -->
    <select id="selectCommentDislikeCountByUserId" parameterType="arraysort.project.board.app.like.domain.CommentDisLikeVO" resultType="boolean">
        select exists(
            select 1
            from comment_dislike
            where user_id = #{userId} and comment_id = #{commentId}
        )
    </select>

    <!-- 댓글 좋아요 삭제 -->
    <delete id="deleteCommentDislike" parameterType="arraysort.project.board.app.like.domain.CommentDisLikeVO">
        delete
        from comment_dislike
        where user_id = #{userId} and comment_id = #{commentId}
    </delete>

    <!-- 관리자 : 모든 댓글 좋아요 수 조회 -->
    <select id="selectAllLikesCount" resultType="long">
        select count(*)
        from comment_like
    </select>

</mapper>
